<p><%= flash[:login] %></p>
<form class="form-signin" action="/login" method="post">
  <h2 class="form-signin-heading">Вход</h2>
  <input name="user[username]" type="text" value="<%= @user.username %>" placeholder="Логин" required />
  <input name="user[password]" type="password" value="<%= @user.password %>" placeholder="Пароль" required />
  <input type="hidden" name="user[id]" value= "<%= @user.id %>" />
  <input type="hidden" name="user[email]" value= "<%= @user.email %>" />
  <button class="btn btn-large btn-primary" type="submit">Войти</button>
</form>


